@keyframes pulse-in {
  from {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    transform: scale(1.03);
    opacity: 1;
  }

  to {
    transform: scale(1);
  }
}

@keyframes pulse-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.3);
    opacity: 0;
  }
}
