:root {
  --prism-scheme: light;

  --w-alpha-5: rgba(0, 0, 0, 0.05);
  --w-alpha-10: rgba(0, 0, 0, 0.1);
  --w-alpha-60: rgba(0, 0, 0, 0.6);

  // 右键菜单背景色
  --w-contextmenu-bg-color: #fff;
  --w-contextmenu-hover-bg-color: rgba(0, 0, 0, 0.08);

  // 小组件背景色
  --w-widget-bg-color: #fff;
  // 添加小组件轮播背景色
  --w-widget-carousel-bg-color: rgb(208, 209, 212);

  // dialog 背景色
  --w-dialog-bg-color: rgb(245, 245, 245);

  // 设置 card 背景色
  --w-settings-bg-color: #fff;

  // button
  --w-color-primary: #fcc01d;
  --w-color-hover: #fcce4f;

  // radio
  --w-radio-button-bg-color: #fff;
  --w-radio-button-border-color: #dcdfe6;

  // image
  --w-image-placeholder-text-color: #969799;
  --w-image-placeholder-background: var(--w-alpha-5);

  // icon修改
  --w-icon-text-color: #fff;

    // 图标上传
    --w-upload-icon-color: #ccc;
}
