html.dark {
  color-scheme: dark;

  --w-alpha-5: rgba(255, 255, 255, 0.05);
  --w-alpha-10: rgba(255, 255, 255, 0.1);
  --w-alpha-60: rgba(255, 255, 255, 0.6);

  // 右键菜单背景色
  --w-contextmenu-bg-color: rgb(30, 30, 30);
  --w-contextmenu-hover-bg-color: rgba(255, 255, 255, 0.08);

  // 小组件背景色
  --w-widget-bg-color: #262727;
  // 添加小组件轮播背景色
  --w-widget-carousel-bg-color: #28292b;

  // dialog 背景色
  --w-dialog-bg-color: #1e1e1e;

  // 设置 card 背景色
  --w-settings-bg-color: #262727;

  // button
  --w-color-hover: #e2a703;

  // radio
  --w-radio-button-bg-color: #1e1e1e;
  --w-radio-button-border-color: #4c4d4f;
  // --w-radio-button-text-color: #fff;

  // image
  --w-image-placeholder-text-color: #707070;
  --w-image-placeholder-background: var(--w-alpha-5);

  // icon修改
  --w-icon-bg-color: rgba(0, 0, 0, 0.7);

  // 图标上传
  --w-upload-icon-color: #ccc;

  // body背景
  --w-body-bg-color: #1e1e1e;
}
